ipython          # terminal
ipdb             # debbuger
sdb              # debbuger remoto
pip-tools        # lock de dependências
pytest           # execução de testes
pytest-order     # ordenação de testes
httpx            # request async para testes
black            # auto formatação
flake8           # linter
jedi             # autocomplete
